/* li {
  color: grey;
  font-style: italic;
  display: inline-block;
  box-shadow: 1px 1px 3px orange;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.title {
  color: hotpink !important;
} */
